config BOARD
    default "lora3a-h10" if BOARD_LORA3A_H10

config BOARD_LORA3A_H10
    bool
    default y
    select CPU_MODEL_SAMR34J18B
    select HAS_PERIPH_ADC
    select HAS_PERIPH_I2C
    select HAS_PERIPH_RTC
    select HAS_PERIPH_RTT
    select HAS_PERIPH_SPI
    select HAS_PERIPH_TIMER
    select HAS_PERIPH_UART
    select HAS_RIOTBOOT

    select HAVE_SX1276
    select HAVE_SAUL_GPIO
